.grid {
  display: grid;
  grid-template-columns: 230px auto;
  grid-row-gap: 8px;
  grid-column-gap: 5px;
  background-color:#f9f9f9;
  padding: 0px;
}
.sidebar1{
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 2rem;
    background-color: white;
}
.sidebar2{
    padding-top: 15px;
    padding-left: 25px;
    font-size: 10pt;
    background-color: white;
}
.sidebar3{
    padding-bottom: 10rem;
    background-color: white;
}
.sidebar4{
    padding-top: 15px;
    padding-left: 25px;
    font-size: 10pt;
    background-color: white;
}
/* .btnupload{
    padding-top: 30px;
} */


