@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.header{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    font-family: poppins;
    font-size: 14px;
    background-color: #014282;
}
.kuesioner{
    color: #f9b718;
    padding-top: 10px;
    font-style: italic;
}
.topnav{
    display: flex;
    font-family: poppins;
    font-size: 14px;
}
.user{
    font-family: poppins;
    font-size: 14px;
}
.bell{
    float: right;
    padding-left: 50rem;
    margin-right: 10px;
    cursor: pointer;
    
}
.drop{
    margin-left: 20px;
    margin-right: 20px;
    font-family: poppins;
    font-size: 14px;
}