@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.breadcumb{
    margin: 0px;
    padding: 50px 18px 0px ;
    font-family: poppins;
    font-size: 25px;
    font-weight: bold;
}

.content{
    margin: 0px;
    padding: 20px 18px 0px ;
    font-family: poppins;
    font-size: 12px;
    width: 98%;
}